<main role="main">
    <div class="row">
        <main class="col-12">
            <div>
                <h4 class="api-title">Vehicle Image API</h4>
            </div>
            <p></p>
            <p class="leader">Available HTTP methods</p>

            <div class="bg-white box-shadow rounded">

                <div class="bd-callout bd-callout-info">
                    <h5>Get all vehicle images</h5>
                    <p></p>
                    <p class="h6">HTTP endpoint GET: http://../api/Index</p>
                    <p>Content-Type: application/json</p>
                    <p>Returns an Array of Vehicle Image (see below)</p>
                </div>

                <div class="bd-callout bd-callout-info">
                    <h5>Get vehicle images by Vehicle ID</h5>
                    <p></p>
                    <p class="h6">HTTP endpoint GET: http://../api/Search/[vehicleId]</p>
                    <p>Content-Type: application/json</p>
                    <p>Returns an Array of Vehicle Image (see below)</p>
                </div>

                <div class="bd-callout bd-callout-info">
                    <h5>Bulk insert vehicle images</h5>
                    <p></p>
                    <p class="h6">HTTP endpoint POST: http://../api/Images</p>
                    <p>Content-Type: application/json</p>
                    <p>Request Body: a JSON array of Vehicle Image (see below)</p>
                    <p>Returns a count of records parsed and records inserted.  Pre-existing records will be ignored.</p>
                    <div>The HTTP response returns a JSON structure showing the number of records affected e.g.</div>
                    <code class="lang" data-lang="javascript">
                        {
                        "recordsParsed":100,
                        "recordsAdded":23
                        }
                    </code>
                </div>

                <div class="bd-callout bd-callout-light">
                    <figure>
                        <figcaption><b>Vehicle Image Array</b> - a JSON array, for example,</figcaption>
                        <code contenteditable spellcheck="false"></code>
                        <pre><code class="lang" data-lang="javascript" contenteditable spellcheck="false">
    [{
        "ImageId": 35045,
        "VehicleId": 13403,
        "Time": 4.5,
        "VehicleType": "Car",
        "Latitude": -27.5599,
        "Longitude": 153.0813,
        "Speed": 7.56057223191512,
        "Acceleration": 1.75633759785273,
        "X": 206.4373,
        "Y": 458.7188
    },
    {
        /* etc */
    },
    ]
</code></pre>
                    </figure>
                </div>
            </div>
        </main>
    </div>
</main>
