@model IEnumerable<VehicleImage>

<h1 class="sub-title mb-4">Index of Vehicle Images</h1>

@* Search parameters *@
<div class="container">
    <div class="row mt-3 mb-4 p-0 col-md-6 col-sm-12">
        <div class="input-group">
            <input id="vehicleId" type="text" class="form-control" placeholder="Vehicle ID">
            <div class="input-group-append">
                <button id="search" class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </div>
    </div>

</div>

@* Search Results *@
<div id="searchResult" class="form-group">
    <partial name="_VehicleImagesList" />
</div>

@section Scripts {
    <script language="javascript">
    $(function () {

        // Search function
        $('#search').on('click', function () {
            $.ajaxSetup({ traditional: true, type: "POST" });
            var vehicleId = $('#vehicleId').val();
            // TODO params
            $('#searchResult').load('@Url.Action("Search", "Home")', { vehicleId: vehicleId }
                , function (response, status, xreq) {
                    console.log(xreq.status);
                    if (status == "error") {
                        $("#searchResult").html(response);
                    }
                });
        });



    });

    </script>
}